@import "tailwindcss";

/* standard farver bg+txt */
body {
    background-color: var(--color-hvid);
    color: var(--color-sort);
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

/* import af fonte */

@font-face {
    font-family: "GolosText";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/GolosText-Regular.ttf");
}

@font-face {
    font-family: "ChivoMono";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/ChivoMono-Regular.ttf");
}

@font-face {
    font-family: "GasoekOne";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/GasoekOne-Regular.ttf");
}

@font-face {
    font-family: "RubikBrokenFax";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/RubikBrokenFax-Regular.ttf");
}

@font-face {
    font-family: "Jacquard12Charted";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/Jacquard12Charted-Regular.ttf");
}

@font-face {
    font-family: "Jersey10" ;
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/Jersey10-Regular.ttf");
}
@font-face {
    font-family: "Jersey15" ;
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/Jersey15-Regular.ttf");
}

/* globale variabler */

:root {
  --color-sort: #0c0120;
  --color-hvid: #fffef9;
  --color-green: #C3F079;

  --font-overskrift: "GasoekOne", sans-serif;
  --font-overskrift2: "Jersey15", sans-serif;
  --font-underoverskrift: "ChivoMono", monospace;
  --font-brodtekst: "GolosText", sans-serif;
}

@theme {
  /* farver */
  --color-sort: var(--color-sort);
  --color-hvid: var(--color-hvid);
  --color-green: var(--color-green);

  /* fonte */
  --font-overskrift: "GasoekOne", sans-serif;
  --font-overskrift: "Jersey15", sans-serif;
  --font-underoverskrift: "ChivoMono", monospace;
  --font-brodtekst: "GolosText", sans-serif;
}

@layer base {
    h1 {
        font-family: var(--font-overskrift);
    }
    h2 {
        @apply uppercase;
        font-family: var(--font-overskrift2);
    }
    h3 {
        @apply lowercase;
        font-family: var(--font-underoverskrift);
    }
    p {
        font-family: var(--font-brodtekst);
    }
}

@layer utilities {
  .max-w-8xl {
    max-width: 88rem; 
  }
  .max-w-9xl {
    max-width: 96rem; 
  }
}