---
import Underoverskrift from "./text/underoverskrift.astro";
---
<div class="grid gap-5">
    <h1 class="text-6xl">christine's portfolio</h1>
    <Underoverskrift>
        <h3>I am a coded designer, and I work with digital experiences where technology and creativity merge.</h3>
    </Underoverskrift>
</div>