---
import Some from "./some.astro";
import Titel from "../text/titel.astro";
---

<div class="bg-sort text-hvid flex justify-center py-10">
  <div class="flex items-center flex-col text-sm">
    <div class="pb-5"><Titel>contact</Titel></div>

    <p>Christine Wrang Swierkosz</p>
    <p>christineswierkosz@outlook.dk</p>
    <p>2094 0242</p>
    <Some>
      <a
        href="https://dk.linkedin.com/in/christine-swierkosz-38359a289"
        target="_blank"
      >
        <img src="/some/linkedin.png" class="h-full w-auto" />
      </a>
      <a href="https://github.com/chrostine" target="_blank">
        <img src="/some/github.png" class="h-full w-auto" />
      </a>
      <a href="https://www.instagram.com/wrangstrik/" target="_blank">
        <img src="/some/instagram.png" class="h-full w-auto" />
      </a>
    </Some>
  </div>
</div>
