---
const { tekst, url } = Astro.props;

const isExternal = /^https?:\/\//.test(url);
---

<a
  href={url}
  target={isExternal ? "_blank" : undefined}
  rel={isExternal ? "noopener noreferrer" : undefined}
>
  <button class="group cursor-pointer">
    <h3
      class="uppercase before:content-['['] after:content-[']'] group-hover:before:content-['>'] group-hover:after:content-['<']"
    >
      {tekst}
    </h3>
  </button>
</a>
