---
import Knap from "./knap.astro";

import Overskrift from "../text/overskrift.astro";
---

<nav class="sticky top-0 z-1 mix-blend-difference">
  <div class="flex justify-between py-5 px-5 lg:px-10 xl:px-20 text-white">
    <a href="../../">
      <h1 class="text-xl">chrostine.work</h1>
    </a>
    <Knap tekst="about" url="../about" />
    <Knap tekst="contact" url="../contact" />
  </div>
</nav>
